/* Color variables */
:root {
    --card-color: rgb(23, 23, 23);
    --card-color-blue: rgb(100, 123, 207);
    --bg-color: rgb(79, 79, 79);
    --content-panel-color: rgb(114, 114, 114);
}

/* dabody */
body {
    background-color: var(--bg-color);
    font-family: Arial;
}

/* Hero Page */
.hero-container {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    width: calc(100% - 5%); /*Accounting for leftwise offset*/
    height: 100vh;
    flex-direction: column;
}

.intro-text-box {
    margin-top: 10%;
    margin-left: 5%;
    min-width: 60%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
}
.intro-text-box > h1 {
    color: white;
    font-size: 6rem;
}

.intro-text {
    color: white;
    font-size: 1.5rem;
}

.arrow-container {
    margin-top: 10%;
    margin-left: -5%;
    align-self: center;
}
.arrow-container > img {
    transform: rotate(90deg);
}
/* Mobile Styling */
@media screen and (max-width: 425px) {
    .intro-text-box > h1 {
        font-size: 2rem;
    }
    .intro-text {
        font-size: 1rem;
    }
    .arrow-container {
        margin-top: 40%;
    }
}
/* Tablet/Modern Mobile Styling */
@media screen and (max-width: 768px) {
    .intro-text-box > h1 {
        font-size: 3rem;
    }
    .intro-text {
        font-size: 1.25rem;
    }
    .arrow-container {
        margin-top: 40%;
    }
}

/* Navigation */
.navigation-container {
    display: flex;
    height: 20%;
    width: 100%;
}

.navigation-card-outer {
    margin: auto;
    width: 20%;
    height: 50%;
    background-color: white;
    border-radius: 15px;
}

.navigation-card-inner {
    position: relative;
    left: calc((100% - (100% - (0.03 * (100vw * 0.2)))) / 2);
    top: calc((100% - (100% - (0.03 * (100vw * 0.2)))) / 2);
    width: calc(100% - (0.03 * (100vw * 0.2)));
    height: calc(100% - (0.03 * (100vw * 0.2)));
    background-color: var(--bg-color);
    border-radius: 12px;

    /* Centering text */
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-card-inner > h1 {
    color: white;
}
/* Navigation hover color changes */
.navigation-card-inner:hover {
    background-color: white;
}
.navigation-card-inner:hover > h1 {
    color: var(--bg-color);
}
/* Mobile Styling */
@media screen and (max-width: 425px) {
    .navigation-card-outer {
        width: 30%;
    }
    .navigation-card-inner {
        left: calc((100% - (100% - (0.06 * (100vw * 0.2)))) / 2);
        top: calc((100% - (100% - (0.06 * (100vw * 0.2)))) / 2);
        width: calc(100% - (0.06 * (100vw * 0.2)));
        height: calc(100% - (0.06 * (100vw * 0.2)));
    }
    .navigation-card-inner > h1 {
        font-size: 1rem;
    }
}
/* Tablet/Modern Mobile Styling */
@media screen and (max-width: 768px) {
    .navigation-container {
        height: 10%;
    }
    .navigation-card-outer {
        width: 30%;
    }
    .navigation-card-inner {
        left: calc((100% - (100% - (0.06 * (100vw * 0.2)))) / 2);
        top: calc((100% - (100% - (0.06 * (100vw * 0.2)))) / 2);
        width: calc(100% - (0.06 * (100vw * 0.2)));
        height: calc(100% - (0.06 * (100vw * 0.2)));
    }
    .navigation-card-inner > h1 {
        font-size: 1rem;
    }
}
