.back-container {
	height: 10vw;
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;

	background: none;
	color: none;
	padding: 0;
	border-top: none;
	border-left: none;

	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 2px;
}

@media (min-width: 600px) {
	.back-container {
		height: 5vw;
		width: 5vw;
	}
}
