:root{
    --card-color: rgb(23,23,23);
    --card-color-blue: rgb(100, 123, 207);
    --bg-color: rgb(213, 213, 213);
    --content-panel-color: rgb(114, 114, 114);
}

body{
    /*background-image: linear-gradient(to right, #5a5a5a 30%, #8a14d4); gradient bg*/
    background-color: var(--bg-color);/*grey#3d3d3d - blue#647bcf*/
}
.graphics-panel{
    z-index: 0;
    background-color: var(--card-color-blue); /*placeholder for image*/
    background-image: url(bgPattern.png);
    background-size: 100vmax;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
}
/*logo div class*/
.logo{
    width: 18vmin;
    height: 18vmin;
    position: absolute;
    top: -2vmin;
    left: 2vmax;
}
 /*any img element in a div with logo class will be the size of the div*/
.logo img{
    height: 100%;
    width: 100%;
}
.logo:hover{
    background: rgba(100, 123, 207, 0.246);
    border-radius: 100%;
    box-shadow: 5px;
}
.logo:active{
    background: var(--card-color-blue);
    border-radius: 100%;
    box-shadow: 5px;
}

.circle-panel{
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 0.5em;
    width: fit-content;
    height: fit-content;
    left: calc(50% - 4em - 0.5em - 0.25em);
    top: 12em;
}
@media (min-width: 1280px){
    .circle-panel{
        top: 8.5em;
        left: calc(50% - 2em - 0.5em - 0.25em);
    }
}

.circle-indicator{
    background-color: var(--content-panel-color);
    border-radius: 100%;
    width: 2em;
    height: 2em;
}
.circle-indicator:active{
    background-color: white;
}
@media (min-width: 1280px){
    .circle-indicator{
        width: 1em;
        height: 1em;
    }
}
/*may appear confusing but this is just to keep the current panel visible on nav circles*/
.circle-indicator-active{
    background-color: rgb(184, 184, 184);
}

/*this class will be used for holding the content*/
.content-panel{
    position: absolute;
    top: 15em;
    background-color: var(--content-panel-color);
    border-radius: 15px;
    width: 90%;
    height: 100em;
    left: 5%; /*50% - (width/2) surefire way to have it centered*/
    vertical-align: middle;
}
@media (min-width: 1280px) {
    .content-panel{
        top: 10em;
        height: 35em;
    }
}

/*this element is used to hold the pricing cards*/
#cards{
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    position: relative;
    left: 1.5em;
    justify-content: center;
    top: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.cards > div {
    flex-basis: 100%;
}
@media (min-width: 1280px) {
    #cards{
        flex-direction: row;
        width: 100%;
        top: 6.5em;
        gap: 2em;
        left: 0;
    }
}
  
#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    cursor: pointer;
    height: 30em;
    position: relative;
    width: 52.1em;
    min-width: 52.1em;
    max-width: 100%;
}
@media (min-width: 1280px) {
    .card{
        height: 22em;
        width: 25em;
        min-width: 25em;
    }
}

.card:hover::before {
opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
    60vmin circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06),transparent 40%);
    z-index: 3;
}

.card::after {  
    background: radial-gradient(
    60vmin circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4),transparent 40%);
    z-index: 1;
}

.card > .card-content {
    /*background-color: var(--card-color);*/
    background-image: linear-gradient(to right bottom, rgb(157, 8, 249) 30%, var(--card-color-blue));
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

h1, h2, h3, h4, span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

i {  
color: rgb(240, 240, 240);
}

.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card-image > i {
    font-size: 6em;
    opacity: 0.25;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}

.card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}