.card {
	border-style: solid;
	border-color: black;
	border-width: 2px;

	height: 25vh;
	width: 97%;
}

@media (min-width: 600px) {
	.card {
		height: 50vh;
	}
}

@media (min-width: 1024px) {
	.card {
		width: 45%;
	}
}

@media (min-width: 1440px) {

}
