/* Color variables */
:root {
	--main-color: white;
	--highlight-color: black;
}

[data-theme="dark"] {
	--main-color: black;
	--highlight-color: white;
}

body {
	background-color: var(--main-color);
}
