.header-container {
	display: flex;
	flex-direction: row;
	
	border-bottom-color: var(--highlight-color);
	border-bottom-width: 2px;
	border-bottom-style: solid;

	height: 13vw;
}

.header-container > .text-container {
	display: flex;
	flex-grow: 1;
	align-self: center;
	flex-direction: row;
	justify-content: center;
	color: var(--highlight-color);
}

.right-spacer {
	width: 10vw;
	height: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left-color: var(--highlight-color);
	border-left-style: solid;
	border-left-width: 2px;
	border-bottom-color: var(--highlight-color);
	border-bottom-style: solid;
	border-bottom-width: 2px;

}

@media (min-width: 600px) {
	.header-container {
		height: 8vw;
	}

	.right-spacer {
		width: 5vw;
		height: 5vw;
	}

}


@media (min-width: 1024px) {
	.header-container {
		height: 5vw;
	}

	.right-spacer {
		width: 3vw;
		height: 3vw;
	}

}

@media (min-width: 1440px) {
	.header-container {
		height: 3.5vw;
	}

	.right-spacer {
		width: 2vw;
		height: 2vw;
	}

}
