.header-container {
	display: flex;
	flex-direction: row;
	
	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;

	height: 13vw;
}

.header-container > .text-container {
	display: flex;
	flex-grow: 1;
	align-self: center;
	flex-direction: row;
	justify-content: center;
}

.right-spacer {
	width: 10vw;
	height: 10vw;
}

@media (min-width: 600px) {
	.header-container {
		height: 8vw;
	}
}
